header {

}

a {
  color: #000131;
  font-style: normal;
  text-decoration: none;
  transition-duration: 0.4s;
}

a:hover {
  text-decoration: none;
  color: coral;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_item {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  /*background-color: #dddddd;*/
}

.fa {
  color: #000131;
  transition-duration: 0.4s;
  transform-style: preserve-3d;
}

.fa:hover{
  color: coral;
}

.header {
  background-color: #000131;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.visit_us_button {
  background-color: white;
  color: #000131;
  border: 2px solid #7f0b99;
}

.visit_us_button:hover {
  background-color: #7f0b99;
  color: white;
}

.chevron-down {
  color: #000131;
  transition-duration: 0.4s;
}

.chevron-down:hover {
  color: orange;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
}

.stats_item {
  margin: 10px;
  font-weight: bolder;
  background-color: #f8f8f8;
  padding: 5px;
  flex: 1;
}

@media (max-width: 800px) {
  .stats_item {
    flex: 100%;
  }
}

.bot-lists {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
}

.bot_item {
  margin: 5px;
  font-weight: bolder;
  background-color: #f8f8f8;
  padding: 5px;
  flex: 1;
}

@media (max-width: 800px) {
  .stats_item {
    flex: 100%;
  }
}

.icon-button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}